@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    position: relative;
}

i{
    font-size: 20px;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* NAVIGATION */

.nav__container{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 16px 0;
    width: 100vw;
}

.icon__container{
    width: 150px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.icon{
    width: 100%;
}

li{
    list-style-type: none;
    cursor: pointer;
    padding: 16px 32px;
}

.nav__links{
    display: flex;
    justify-content: center;
}

.nav__link{
    color: white;
}

.nav__link--home{
    color: black;
    font-size: 20px;
}

.nav__link--primary{
    background-color: purple;
    padding: 14px 44px;
    border-radius: 30px;
    color: white;
    transition: all 400ms ease;
}


.nav__link--primary:hover{
    background-color: red;
}

.link__hover--effect,
.link__hover--effect-black{
    position: relative;
}

.link__hover--effect:after,
.link__hover--effect-black:after{
    position: absolute;
    content: "";
    bottom: -3px;
    right: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: all 300ms ease;
}

.link__hover--effect:hover:after,
.link__hover--effect-black:hover:after{
    width: 100%;
    left: 0;
}

.link__hover--effect-black:after{
    background-color: black;
}


/* MOBILE NAV */

.nav__mobile{
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateX(100%);
    transition: all 400ms ease;
}

.nav__mobile .mobile__nav--links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.nav__mobile li{
    margin: 50px 0;
    text-align: center;
}

.btn__menu--open{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.btn__menu--close{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__mobile .nav__link{
    color: black;
    z-index: 2;
    margin: 0
}


/* HOME PAGE HERO */

.hero__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__title{
    color: purple;
    font-size: 50px;
    text-align: center;
    width: 90%;
    animation: fade-up 800ms;
}

.home__subtitle{
    color: purple;
    font-size: 30px;
    width: 90%;
    text-align: center;
    animation: fade-up 800ms;
}

@keyframes fade-up{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.purple{
    color: purple;
}

.home__title, .home__subtitle {
    margin: 20px;
}

.home__search--container{
    margin-top: 20px;
}

/* HOME PAGE SEARCH */

.home__search--container{
    display: flex;
    max-width: 700px;
    width: 95%;
}

.home__search{
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 24px;
    padding-right: 125px;
    width: 100%;
    animation: fade-up 800ms;
}

.fa-magnifying-glass{
    font-size: 40px;
    filter: invert(1);
}

.search__button{
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
    background-color: purple;
}

.search__button:focus{
    background-color: black;
}

.search__button .movies__loading--spinner{
    color: white;
    font-size: 40px;
}

/* HOME PAGE IMAGE */

.home__img--container{
    width: 70vh;
}

.home__image{
    width: 100%;
}

/* LANDING */

#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay{
    background-image: url('https://dev.d24jig8s1lr7n9.amplifyapp.com/img/carpark.8742e246.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.overlay:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

/* HERO CONTENT */

.hero__title{
    font-size: 48px;
    margin-bottom: 32px;
    color: white;
    text-align: center;
}

.browse__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 650px;
}

.find__search--container{
    display: flex;
    max-width: 700px;
    width: 95%;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.search{
    padding: 20px 20px;
    border-radius: 30px;
    position: absolute;
    width: 100%;
    font-size: 20px;
}

.find__search--button{
    border-radius: 20px;
    border: none;
    margin-right: 20px;
    color: purple;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    transition: all 400ms ease;
}

.find__search--button:hover{
    color: red;
}

.find__search--button i{
    filter: invert(0);
}

/* RESULTS */

#results{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.spinner__container{
    display: flex;
    justify-content: center;
}

.movies__loading--spinner{
    animation: spin 400ms infinite linear;
}

@keyframes spin {
    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.results__title{
    margin: 32px 0;
}

/* CARD FORMATTING */

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: calc(100%/4);
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
    margin: 24px;
    box-shadow: 0px 0px 6px 6px lightgrey;
}

.img__container{
    width: 100%;
}

.img{
    width: 100%;
}

.description{
    margin-left: 16px;
}

.title{
    margin: 16px 0;
}

.type{
    margin-bottom: 16px;
    display: inline-block;
}

.year, .imdbID{
    margin-bottom: 8px;
    display: inline-block;
}

.desc__icon{
    margin-right: 10px;
}

@media(max-height: 600px){
    .nav__container{
        margin-bottom: 0;
    }
    
    .home__title, .home__subtitle{
        margin: 8px 0;
    }

    .home__title{
        font-size: 45px;
    }
}

@media (max-width: 768px){

    .home__search{
        font-size: 18px;
    }

    .nav__links{
        display: none;
    }

    .open__menu .nav__mobile{
        opacity: 0.9;
        transform: translateX(0);
    }

    .btn__menu--open{
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    #results{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .card{
        width: 40%;
    }
}

@media (max-width: 630px){

    .home__search--container{
        width: 90%;
    }

    .home__search{
        font-size: 16px;
    }

    .search{    
        padding: 20px 0;
        width: 95%;
    }

    

}

@media (max-width: 584px){
    .home__title{
        text-align: left;
    }

    .home__subtitle{
        text-align: left;
    }

    .home__search--container{
        flex-direction: column;
        width: 95%;
    }

    .home__search{
        padding: 20px 0;
        width: 99%;
    }

    .search__button{
        margin: 20px 0;
    }

    .home__img--container{
        display: none;
    }
}

@media (max-width: 500px){
    
    .card{
        width: 70%;
    }

    .home__title{
        font-size: 45px;
    }

    .home__subtitle{
        font-size: 25px;
    }

    .home__search--container{
        width: 92%;
    }

    .home__search{
        width: 99%;
        padding: 20px 0;
        font-size: 17px;
    }

    .search__button{
        margin: 20px 0;
        padding: 8px;
        background-color: purple;
    }
}